{% extends "base.html" %}
{% block content %}
<h2>Διαχείριση Χρηστών</h2>
<table class="table bg-white">
    <thead><tr><th>Username</th><th>Email</th><th>Ρόλος</th><th>Ενέργεια</th></tr></thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
            <td><a href="/admin/delete/{{u.id}}" class="btn btn-danger btn-sm">Διαγραφή</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}